body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #262626;
}

section {
    width: 1920px;
    height: 1080px;
    margin-bottom: 20px;
}

h1 {
    font-size: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    font-family: "fractul-variable",sans-serif;
    font-variation-settings: 'wght' 700;
    font-style: bold;
    color: #ffed85;   
}

h2 {
    font-family: "fractul-variable", sans-serif;
    font-weight: 400;
    font-style: semi-bold;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    color: #fb6d51;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "open-sans", sans-serif;
    color: #fb6d51;
}
h4 {
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff
}

.tooltip {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#chart4svg{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#space{
    margin-top: ;
}
#toggleView {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
}

#toggleView:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
/* HARSHITA FIX THIS TOGGLE BUTTON DESIGN AND ANIMATION */
/* HARSHITA ADD THE TEXT ON EITHER SIDE OF THE TOGGLE BUTTON, */
#toggleView:checked:before {
    transform: translateX(30px);
    animation: moveBackAndForth 0.6s ease-in-out infinite alternate;
}

@keyframes moveBackAndForth {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100px);
    }
}